// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview
// Place your monitors from left to right.

// Monitor 1: Lenovo Laptop (Left)
output "Lenovo Group Limited 0x41B0 Unknown" {
    off // Turn off the laptop screen
}

// Monitor 2: HP 27" (Left)
output "Hewlett Packard HP Z27n CNK72307H3" {
    mode "2560x1440@60";
    scale 1.0;
    position x=0 y=0;
}

// Monitor 3: Xiaomi 4K (Right)
output "Xiaomi Corporation Mi Monitor 6638000002298" {
    mode "3840x2160@60";
    scale 1.5;
    // Positioned to the right of the HP monitor, with top edges aligned.
    position x=2560 y=0;
}
// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse max-scroll-amount="90%"
}

// Monitor configuration.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 14
    center-focused-column "always"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    

    default-column-width { proportion 0.99999; }
    focus-ring {
        width 2
        active-color "#9ccfd8"
        inactive-color "#6e6a86"
    }
    border {
        off
    }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    background-color "transparent"

}


// startup processes
spawn-at-startup "udiskie"
spawn-at-startup "niriswitcher"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
//spawn-at-startup "waybar" "-c" "/home/julien/niri-setup/waybar/config" "-s" "/home/julien/niri-setup/waybar/style.css"
spawn-at-startup "~/.config/waybar/waybar-niri.sh"
spawn-at-startup "dunst" "-conf" "/home/julien/niri-setup/dunst/dunstrc"
spawn-at-startup "sh" "-c" "pkill swayidle; echo '10 minutes' > /tmp/idle-time; /home/julien/niri-setup/scripts/swayidle.sh"
// statup discord minimized
spawn-at-startup "sh" "-c" "sleep 5; discord --start-minimized &"
spawn-at-startup "sh" "-c" "sleep 2; anytype --start-minimized &"


// workspace background and backdrop
spawn-at-startup "sh" "-c" "swww-daemon & swww img /home/julien/niri-setup/wallpapers/backdrop.jpg"
spawn-at-startup "swaybg" "-i" "/home/julien/Pictures/Wallpapers/wallpapers/Fantasy-Hongkong.png" "-m" "fill" "-c" "#000000"
layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
window-rule {
    match app-id="firefox"
    match app-id="code"
    match app-id="dev.zed.Zed"
    exclude app-id="firefox" title=".*YouTube.*"
    default-column-width { proportion 1.0; }
    opacity 0.95
}
window-rule {
    match app-id="org.gnome.Calculator"
    match app-id="com.saivert.pwvucontrol"
    match app-id="Alacritty" title="Updater"
    match app-id="kitty" title="nmtui"
    match app-id="Alacritty" title="Wallpaper Selector"
    default-column-width { proportion 0.1; }

    open-floating true
    shadow {
        on
    }
}

binds {
    Mod+Ctrl+WheelScrollUp      { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown    { focus-workspace-down; }
    Mod+WheelScrollUp           { focus-column-left; }
    Mod+WheelScrollDown         { focus-column-right; }
    Mod+Shift+WheelScrollUp     { focus-window-up; }
    Mod+Shift+WheelScrollDown   { focus-window-down; }   
    Mod+Return                  { spawn "kitty"; }
    Mod+Ctrl+Return             { spawn "fuzzel" "--config" "/home/julien/niri-setup/fuzzel/fuzzel.ini"; }
    Mod+Shift+Return            { spawn "firefox"; }
    Mod+B                       { spawn "firefox"; }
    Mod+Z                       { spawn "anytype"; }
    Mod+E                       { spawn "kitty" "-o" "window_padding_width=0" "-o" "window_margin_width=0" "-e" "yazi"; }  
    Mod+L                       { spawn "/home/julien/niri-setup/scripts/swaylock.sh"; }
    Mod+C                       { spawn "sh" "-c" "cliphist list | fuzzel --dmenu --config /home/julien/niri-setup/fuzzel/clipboard.ini | cliphist decode | wl-copy"; }
    Mod+I                       { spawn "/home/julien/niri-setup/scripts/change-idle-time.sh"; }
    Mod+P                       { spawn "/home/julien/niri-setup/scripts/change-power-profile.sh"; }
    Mod+U                       { spawn "alacritty" "--title" "Updater" "--config-file" "/home/julien/niri-setup/alacritty/float.toml" "-e" "/home/julien/niri-setup/waybar/modules/install-updates.sh"; }
    Mod+Ctrl+B                  { spawn "/home/julien/niri-setup/scripts/toggle-waybar.sh"; }
    Mod+Ctrl+W                  { spawn "alacritty" "--title" "Wallpaper Selector" "--config-file" "/home/julien/niri-setup/alacritty/float.toml" "-e" "/home/julien/niri-setup/scripts/change-wallpaper.sh"; }
    Mod+Backspace               { spawn "/home/julien/niri-setup/scripts/wlogout.sh"; }


    // Backlight and Audio
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%" ; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-" ; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause        allow-when-locked=true { spawn "playerctl" "pause"; }
    XF86AudioNext         allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "previous"; }

    // Windows and Columns
    Mod+1                { focus-monitor-left; }
    Mod+2                { focus-monitor-right;}
    Mod+F1               { move-column-to-monitor-left; }
    Mod+F2               { move-column-to-monitor-right; }
    Mod+Q                { close-window; }
    Mod+W                { switch-preset-column-width; }
    Mod+H                { switch-preset-window-height; }
    Mod+T                { toggle-window-floating; }
    Mod+M                { maximize-column; }
    Mod+F                { fullscreen-window; }
    Mod+Left             { focus-column-left; }
    Mod+Right            { focus-column-right; }
    Mod+Down             { focus-window-down; }
    Mod+Up               { focus-window-up; }
    Mod+Ctrl+Left        { move-column-left; }
    Mod+Ctrl+Right       { move-column-right; }
    Mod+Ctrl+Down        { move-window-down; }
    Mod+Ctrl+Up          { move-window-up; }
    Mod+Home             { focus-column-first; }
    Mod+End              { focus-column-last; }
    Mod+Ctrl+Home        { move-column-to-first; }
    Mod+Ctrl+End         { move-column-to-last; }
    Mod+Shift+Left       { set-column-width "-10%"; }
    Mod+Shift+Right      { set-column-width "+10%"; }
    Mod+Shift+Up         { set-window-height "+10%"; }
    Mod+Shift+Down       { set-window-height "-10%"; }
    Mod+BracketLeft      { consume-or-expel-window-left; }
    Mod+BracketRight     { consume-or-expel-window-right; }
    Mod+Comma            { consume-window-into-column; }
    Mod+Period           { expel-window-from-column; }
    Alt+Tab repeat=false { spawn "pkill" "-USR1" "niriswitcher"; }

    // Workspaces
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+1         { move-column-to-workspace 1; }
    Mod+Ctrl+2         { move-column-to-workspace 2; }
    Mod+Ctrl+3         { move-column-to-workspace 3; }
    Mod+Ctrl+4         { move-column-to-workspace 4; }
    Mod+Ctrl+5         { move-column-to-workspace 5; }
    Mod+Ctrl+6         { move-column-to-workspace 6; }
    Mod+Ctrl+7         { move-column-to-workspace 7; }
    Mod+Ctrl+8         { move-column-to-workspace 8; }
    Mod+Ctrl+9         { move-column-to-workspace 9; }
    Mod+Ctrl+0         { move-column-to-workspace 10; }
    Mod+A              { toggle-overview; }

    // Screenshots
    Print       { screenshot; }
    Ctrl+Print  { screenshot-window; }
    Shift+Print { screenshot-screen; }
}

// misc configuration
screenshot-path "~/Pictures/Screenshots/Screenshot From %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
environment {
    DISPLAY ":0"
    QT_QPA_PLATFORM "wayland"
    TFC_COMMAND "yazi --chooser-file=/dev/stdout"
}
hotkey-overlay {
    skip-at-startup
}


