# Ensure user access to MCHOSE USB HID devices
SUBSYSTEM=="usb", ATTR{idVendor}=="a8a5", ATTR{idProduct}=="2255", MODE="0660", GROUP="users", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="a8a5", ATTRS{idProduct}=="2255", MODE="0660", GROUP="users", TAG+="uaccess"
